* {
  background-color: #7fcdcd;
}
.App {
  margin-top: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

input {
  height: 1.3em;
  background-color: seashell;
}
button {
  background-color: teal;
  color: white;
  width: 13.5em;
  cursor: pointer;
}
button:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
}
